:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* Leaflet must inherit height */
.leaflet-container {
  height: 100%;
  width: 100%;
}
